<div class="row worksSet">

    <div class="span4">
      <div class="box">
        <h3 class="box-header"><%= link_to "作品展示", refinery.fg_works_path, :class => "box-title" %></h3>
        <div class="box-content">
          <ul class="row thumbnails works">
          <% @works.each do |work| %>
            <li>
              <%= link_to image_fu(work.main_image, '142x152#c'), refinery.fg_work_path(work) %>
              <p><%= work.desc %></p>
            </li>
          <% end %>
          </ul>
          <div class="viewAll">
             <a href="<%= refinery.fg_works_path %>">查看全部</a>
          </div>
        </div>
      </div>  <!--well-->  
    </div>

    <div class="span5">  
      <div class="box">
        <h3 class="box-header"><%= link_to "产品研发", refinery.research_fg_works_path, :class => "box-title" %></h3>
        <div class="box-content">
          <ul class="row thumbnails works">
          <% @research_works.each do |work| %>
            <li>
              <%= link_to image_fu(work.main_image, '142x152#c'), refinery.fg_work_path(work) %>
              <p><%= work.desc %></p>
            </li>
          <% end %>
          </ul>
          <div class="viewAll">
             <a href="<%= refinery.research_fg_works_path %>">查看全部</a>
          </div>
        </div>
      </div>  <!--well-->    
    </div>

</div>
