<div class="row worksSet">

    <div class="span4">
      <div class="box">
        <h3 class="box-header"><span class="box-title">作品展示</span></h3>
        <div class="box-content">
          <ul class="row thumbnails works">
          <% @works.limit(4).each do |work| %>
            <li>
              <%= link_to image_fu(work.main_image), "#" %>
              <p><%= work.desc %></p>
            </li>
          <% end %>
          </ul>
          <div class="viewAll">
             <a href="<%= refinery.fg_works_path %>">查看全部</a>
          </div>
        </div>
      </div>  <!--well-->  
    </div>

    <div class="span5">  
      <div class="box">
        <h3 class="box-header"><span class="box-title">产品研发</span></h3>
        <div class="box-content">
          <ul class="row thumbnails works">
          <% @research_works.limit(4).each do |work| %>
            <li>
              <%= link_to image_fu(work.main_image), refinery.fg_work_path(work) %>
              <p><%= work.desc %></p>
            </li>
          <% end %>
          </ul>
          <div class="viewAll">
             <a href="<%= refinery.research_fg_works_path %>">查看全部</a>
          </div>
        </div>
      </div>  <!--well-->    
    </div>

</div>
