<div class="container">
  <div class="row">
    <div class="span3">
      <%= render_cell :sidebar, :all %>
    </div>    

    <div class="span9">
      <%= render :partial => "refinery/pages/propagandas" %>
      <%= render :partial => "refinery/pages/latest_reports" %>

      <%= render :partial => "refinery/pages/work_set" %>

      <div class="row worksSet">
        <%= render :partial => "refinery/pages/activities" %>
        <%= render :partial => "refinery/pages/cooperations" %>
      </div>

    </div>
  </div>
</div>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'j' %>
  <%= javascript_include_tag 'jquery.nivo.slider' %>
<% end %>
