<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <%= render '/refinery/head' %>
  <body>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="header">
      <%= render '/refinery/header' -%>
    </div>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
      <%= render '/refinery/footer' -%>
    </div>
    <%= render '/refinery/javascripts' %>

    <div id="friendLink">
      <%= render :partial => "refinery/pages/friend_links" %>
    </div>
    <div id="copyright">
      <div class="container">
        <div class="well-large">
          <span>COPYRIGHT © 2012  (凡宫造型)</span>
       
        <span class="trademarks">浙ICP备12015390号</span>
      </div>
    </div>
    <button type="button" class="Button2 WhiteButton Indicator Offscreen" id="ScrollToTop">
      返回<br />顶部
    </button>
    <div class="qqFixed">
      <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=875913932&site=qq&menu=yes">
        <%= image_tag "http://wpa.qq.com/pa?p=2:875913932:45", :alt => nil %>
	<span class="qqTitle">陈老师</span>
      </a>
      <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=250838451&site=qq&menu=yes">
        <%= image_tag "http://wpa.qq.com/pa?p=2:250838451:45", :alt => nil %>
        <span class="qqTitle">许老师</span>
      </a>
      <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1318024583&site=qq&menu=yes">
        <%= image_tag "http://wpa.qq.com/pa?p=2:1318024583:45", :alt => nil %>
        <span class="qqTitle">葛老师</span>
      </a>
    </div>
    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
    <script type="text/javascript">
      var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb5492aa3a03ba193acf981af5bbda821' type='text/javascript'%3E%3C/script%3E"));
    </script>

  </body>
</html>
