<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <%= render '/refinery/head' %>
  <body>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <header id="header">
      <%= render '/refinery/header' -%>
    </header>
    <section id="content">
      <%= yield %>
    </section>
    <footer id="footer">
      <%= render '/refinery/footer' -%>
    </footer>
    <%= render '/refinery/javascripts' %>

	  <div id="copyright">
		  <div class="container">
			  <p>
				  <span>COPYRIGHT © 2012  (凡宫造型)</span>
			  </p>
			  <p class="trademarks">浙ICP备12015390号</p>
		  </div>
	  </div>
	  <button type="button" class="Button2 WhiteButton Indicator Offscreen" id="ScrollToTop">
		  返回<br />顶部
	  </button>

  </body>
</html>
